/* --------------------------------------------------------------------------
1. Admin - Users Page
---------------------------------------------------------------------------*/

.items-list-page .item-list .item-col.item-col-title {
    -ms-flex-positive: 6;
    flex-grow: 6;
    -ms-flex-negative: 6;
}

.items-list-page .item-list .item-col.item-col-sales {
    text-align: left;
    -ms-flex-positive: 6;
    flex-grow: 6;
    -ms-flex-negative: 6;
}

.items-list-page .item-list .item-col.item-col-stats {
    text-align: left;
    -ms-flex-positive: 8;
    flex-grow: 8;
    -ms-flex-negative: 8;
}

.items-list-page .item-list .item-col.item-col-category {
    -ms-flex-positive: 4;
    flex-grow: 4;
    -ms-flex-negative: 4;
}

.items-list-page .item-list .item-col.item-col-author {
    -ms-flex-positive: 2;
    flex-grow: 2;
    -ms-flex-negative: 2;
}

.has-error {
    color: #ff4444;
}

.has-error input {
    border-color: #ff4444;
}

.image-gallary {
    width: 100%;
    height: 110px;
    margin-bottom: 15px;
    cursor: pointer;
}

#modal-media .modal-tab-content {
    height: 300px;
    overflow-y:auto;
}

ul.image-row li {
    list-style: none;
    position: relative;
}

ul.image-row {
    padding: 0;
}

ul.image-row li.selected img {
    border: 4px solid #85ce36;
}

ul.image-row li span {
    display: none;
}

ul.image-row li.selected span {
    display: block;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 7px;
    background-color: #85ce36;
    color: #fff;
    padding: 2px 5px;
}

#image-container {
    display: none;
}

.status {
    background-color: #fff;
    font-size: 0.9em;
    padding: 8px 20px;
    margin-top: 5px;
    position: relative;
    border-left: 4px solid #85ce36;
    border-bottom: 2px solid #e2e2e2;
}

.status span {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background-color: #d7dde4;
    color: #fff;
    height: 16px;
    width: 16px;
    text-align: center;
    border-radius: 8px;
    line-height: 16px;
    font-size: 0.8em;
}

.status span:hover, .status span:active {
    background-color: #cf4944;
}

.delete-user-form {
    display: inline-block;
    margin-right: 10px;
}
