.note-on-page span {
    display: block;
    font-size: 0.9em;
}

/* --------------------------------------------------------------------------
1. Admin - Users Page
---------------------------------------------------------------------------*/

.users-list-page .item-list .item-col.item-col-title {
    -ms-flex-positive: 6;
    flex-grow: 6;
    -ms-flex-negative: 6;
}

.users-list-page .item-list .item-col.item-col-sales {
    text-align: left;
    -ms-flex-positive: 6;
    flex-grow: 6;
    -ms-flex-negative: 6;
}

.users-list-page .item-list .item-col.item-col-stats {
    text-align: left;
    -ms-flex-positive: 8;
    flex-grow: 8;
    -ms-flex-negative: 8;
}

.users-list-page .item-list .item-col.item-col-category {
    -ms-flex-positive: 4;
    flex-grow: 4;
    -ms-flex-negative: 4;
}

.users-list-page .item-list .item-col.item-col-author {
    -ms-flex-positive: 2;
    flex-grow: 2;
    -ms-flex-negative: 2;
}

.has-error {
    color: #ff4444;
}

.has-error input {
    border-color: #ff4444;
}


#modal-media .modal-tab-content {
    height: 300px;
    overflow-y:auto;
}

ul.image-row {
    padding: 0
}

ul.image-row li {
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
}

ul.image-row li .image-wrapper {
    position: relative;
    height: 100px;
    border: 1px solid #e7e7e7;
    cursor: pointer;
    vertical-align: middle;
    display: table-cell;
    width: inherit;
    background: #f0f3f6;
}

.image-gallary {
    max-width: 100%;
    max-height: 100%;
}

ul.image-row li .image-wrapper.selected {
    border: 4px solid #85ce36;
}

ul.image-row li .image-wrapper span {
    display: none;
}

ul.image-row li .image-wrapper.selected span {
    display: block;
    position: absolute;
    z-index: 1;
    top: -10px;
    right: -10px;
    background-color: #85ce36;
    color: #fff;
    padding: 1.5px 5px;
}

#image-container {
    display: none;
}

.images-container .image {
    height: 130px;
    line-height: 130px;
}


.status {
    background-color: #fff;
    font-size: 0.9em;
    padding: 8px 20px;
    margin-top: 5px;
    position: relative;
    border-left: 4px solid #85ce36;
    border-bottom: 2px solid #e2e2e2;
}

.status span {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background-color: #d7dde4;
    color: #fff;
    height: 16px;
    width: 16px;
    text-align: center;
    border-radius: 8px;
    line-height: 16px;
    font-size: 0.8em;
}

.status span:hover, .status span:active {
    background-color: #cf4944;
}

.delete-item-form {
    display: inline-block;
    margin-right: 10px;
}

/* --------------------------------------------------------------------------
2. Admin - Posts Page
---------------------------------------------------------------------------*/



.posts-list-page .item-list .item-col.item-col-title {
    -ms-flex-positive: 10;
    flex-grow: 10;
    -ms-flex-negative: 10;
}

.posts-list-page .item-list .item-col.item-col-sales {
    -ms-flex-positive: 2.5;
    flex-grow: 2.5;
    -ms-flex-negative: 2.5;
    text-align: left;
    padding-left: 5px;
}

.posts-list-page .item-list .item-col.item-col-stats {
    text-align: left;
    -ms-flex-positive: 2.5;
    flex-grow: 2.5;
    -ms-flex-negative: 2.5;
}

.posts-list-page .item-list .item-col.item-col-category {
    text-align: left;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -ms-flex-negative: 2;
}

.posts-list-page .item-list .item-col.item-col-comment {
    text-align: center;
    -ms-flex-positive: 1.5;
    flex-grow: 1.5;
    -ms-flex-negative: 1.5;
}

.posts-list-page .item-list .item-col.item-col-date {
    text-align: right;
    -ms-flex-positive: 1.5;
    flex-grow: 2.5;
    -ms-flex-negative: 1.5;
}

.posts-list-page div.item-col.fixed.pull-left.item-col-title {
    width: 450px;
}

.categories-tags {
    font-size: 0.8em;
}

.item-list .item-col.item-col-title a {
    display: inline-block;
}

.select-categories span {
    display: block;
}

.select-categories .form-control-label,
.select-tags .form-control-label {
    padding-left: 0;
}

.form-group .select-tags .row .col-xs-3 {
    padding-left: 0;
}

.add-tag em {
    font-size: 0.9em;
    margin-left: 10px;
}

.used-tags span {
    text-decoration: underline;
    font-size: 0.8em;
    cursor: pointer;
}

.used-tags span:active,
.used-tags span:hover {
    color: #85ce36;
}

.used-tags {
    margin: 5px 0 10px 0;
    display: block;
    max-height: 100px;
    overflow-y: auto;
}

.used-tags p {
    margin: 0;
}

.selected-tags span {
    font-size: 0.9em;
    margin-right: 5px;
}

.selected-tags span i {
    color: #c2c2c2;
    cursor: pointer;
}

.selected-tags span i:active,
.selected-tags span i:hover {
    color: #cf4944;
}

.post-status .post-status-change {
    margin-top: 10px;
    display: none;
}

.post-status .post-status-change .ok-post-status-change {
    margin-bottom: 0;
    margin-right: 5px;
}

.post-status .post-status-change select {
    width: 60%;
    display: inline-block;
    height: 32px;
    margin-right: 5px;
}

.post-status .post-status-change .cancel-post-status-change,
.post-status .post-status-show .edit-post-status {
    text-decoration: underline;
    font-size: 0.9em;
    cursor: pointer;
}

.post-status .post-status-change .cancel-post-status-change:hover,
.post-status .post-status-show .edit-post-status:hover,
.post-status .post-status-change .cancel-post-status-change:active,
.post-status .post-status-show .edit-post-status:active {
    color: #85ce36;
}

.items-list-page .title-block .action .dropdown-menu button {
    padding: 10px 15px;
}

.permalink-show {
    margin-top: 5px;
}

a.permalink {

}

.permalink-form input {
    display: inline-block;
    width: 80%;
}

.slug-edit-form {
    width: 70%;
    display: none;
}

.slug-edit-form .btn {
    margin-bottom: 2px;
}

.edit-post-slug {
    cursor: pointer;
    margin-left: 5px;
    text-decoration: underline;
}

.cancel-post-slug-change {
    cursor: pointer;
    text-decoration: underline;
}

.cancel-post-slug-change:hover,
.cancel-post-slug-change:active,
.edit-post-slug:hover,
.edit-post-slug:active {
    color: #70b02b;
}

.card {
    font-size: 0.95em;
}


/* --------------------------------------------------------------------------
3. Admin - Categories and Tags Page
---------------------------------------------------------------------------*/

.items-list-page.categories-list-create-page .items-search {
    position: static;
    margin-bottom: 0;
}

.items-list-page.categories-list-create-page .col-sm-6:last-child {
    text-align: right;
}

.title-sm {
    margin-bottom: 20px;
    margin-top: 15px;
}

.form-group .form-controll-sm {
    height: 32px;
    font-size: 0.9em;
}

.form-group .form-controll-label-sm {
    font-size: 0.9em;
}

.items-list-page.categories-list-create-page .item-list .item-col.item-col-sales {
    text-align: left;
    -ms-flex-positive: 8;
    flex-grow: 8;
    -ms-flex-negative: 8;
}

.items-list-page.categories-list-create-page .item-list .item-col.item-col-stats {
    text-align: left;
    -ms-flex-positive: 11;
    flex-grow: 11;
    -ms-flex-negative: 11;
}

.items-list-page.categories-list-create-page > .row > .col-sm-7 {
    position: relative;
}

.items-list-page.categories-list-create-page .action.bulk-action {
    position: absolute;
    top: 0;
    left: 15px;
}

.items-list-page.categories-list-create-page .statistics {
    margin-left: 155px;
}


/* --------------------------------------------------------------------------
4. Admin - Medias Page
---------------------------------------------------------------------------*/
.medias-content {
    padding: 20px 30px;
}

.medias-content ul.image-row.row {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

ul.image-row li .image-wrapper-for-medias-page {
    position: relative;
    height: 70px;
    border: 1px solid #e7e7e7;
    cursor: pointer;
    vertical-align: middle;
    display: table-cell;
    width: inherit;
    background: #f0f3f6;
}

ul.image-row li .image-wrapper-for-medias-page:active {
    border: 4px solid #85ce36;
}

ul.image-row li.image-wrapper-holder {
    width: 9%;
    float: left;
    margin-right: 1.111111111%;
}

ul.image-row li.image-wrapper-holder:nth-child(10n) {
    margin-right: 0;
}


/*
*  Window and Slider
*/
.window-show-media {
    position: fixed;  /* Stay in place */
    z-index: 999;  /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;  /* Full width */
    height: 100%;  /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none;
}

.window .window-content {
    background: #fff;
    margin: 2% auto;
    width: 95%;
    height: 92%;
    position: relative;
    overflow: hidden;
}

.window-header {
    position: relative;
    text-align: left;
    background-color: #85ce36;
    color: #fff;
    padding: 10px 20px;
}

.window-controls {
    position: absolute;
    right: 0;
    top: 16.5px;
}

.window-controls span {
    cursor: pointer;
    border-left: 2px solid #69c605;
    padding: 17.5px 20px 16.5px 20px;
    margin: 0;
    color: #fff;
}

.window-controls span.close-window {
    padding-right: 0;
}

.window-controls span.close-window i {
    padding-right: 20px;
}

.window-controls span:hover,
.window-controls span:active {
    background-color: #69c605;
}

ul.slides-container {
    text-align: left;
    height: -moz-calc(100% - 56px);
    height: -webkit-calc(100% - 56px);
    height: calc(100% - 56px);
/*    width: 300%;*/
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    overflow: hidden;
}

li.window-body {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.window-body .image-show {
    width: 60%;
    float: left;
    height: 100%;
    padding-top: 20px;
    padding-left: 20px;
}

.window-body .image-description {
    width: 37.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5px;
    padding-top: 10px;
    float: right;
    height: 100%;
    background-color: #f0f3f6;
}

.image-desc-header p {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.image-desc-header {
    padding-bottom: 13px;
    border-bottom: 1px solid #d6d9db;
}

.window-body .image-holder {
    height: 88%;
    margin-bottom: 15px;
}

.window-body .image-holder img {
    max-height: 100%;
    max-width: 100%;
}

.window-body .form-control-label {
    font-size: 0.9em;
}

.window-body .form-group {
    margin-bottom: 10px;
}

.window-body .form-group:last-child {
    margin-bottom: 5px;
}

.window-body .image-desc-form {
    padding-top: 15px;
}

.delete-warning {
    color: #fe974b;
    display: block !important;
    transition: color 0.1s;
    font-size: 0.95em;
    background-color: transparent;
    border: 0;
    text-decoration: underline;
}

.delete-warning:hover,
.delete-warning:active {
    color: #fe744b;
}

.status.update-photo-status {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 10px;
    display: none;
}

.status.update-photo-status span {
    top: 6px;
}


/*
*  Upload Container
*/
.medias-create-page .upload-container,
.medias-list-page .upload-container {
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    display: none;
}

.medias-create-page .upload-container {
    display: block;
}

.medias-create-page .upload-container .dropzone,
.medias-list-page .upload-container .dropzone {
    position: relative;
    border: 2px dashed #85CE36;
    height: 270px;
}

.medias-create-page .upload-container .dropzone .dz-message-block,
.medias-list-page .upload-container .dropzone .dz-message-block {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.medias-create-page .upload-container .dropzone .dz-message-block .dz-message,
.medias-list-page .upload-container .dropzone .dz-message-block .dz-message {
    margin: 0;
    font-size: 24px;
    color: #85CE36;
    width: 230px;
}

.medias-list-page .upload-container .close-uploadform {
    position: absolute;
    top: 18px;
    right: 26px;
    cursor: pointer;
    font-size: 1.2em;
    color: #9e9e9e;
}

.status.uploaded-image {
    padding: 5px 10px;
}

.status.uploaded-image img {
    height: 40px;
    width: 40px;
}

.status.uploaded-image span {
    top: 17px;
}


/*
*  View Mode Controls
*/

ul.view-mode {
    list-style: none;
    font-size: 1.6em;
    padding-left: 20px;
}

ul.view-mode li {
    display: inline-block;
}

ul.view-mode li.active a {
    color: #70b02b;
}

/*
*  List View
*/
.items-list-page.medias-list-page .item-list .item-col.item-col-sales {
    text-align: left;
    -ms-flex-positive: 8;
    flex-grow: 8;
    -ms-flex-negative: 8;
}

.items-list-page.medias-list-page .item-list .item-col.item-col-stats {
    text-align: left;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -ms-flex-negative: 2;
}

.items-list-page.medias-list-page .item-list .item-col.item-col-reply {
    text-align: left;
    -ms-flex-positive: 5;
    flex-grow: 5;
    -ms-flex-negative: 5;
}

.items-list-page.medias-list-page .item-list .item-col.item-col-category {
    text-align: left;
    -ms-flex-positive: 5;
    flex-grow: 2;
    -ms-flex-negative: 5;
}

.image-list-container {
    display: table;
}

.image-list-container .image-list-holder {
    position: relative;
/*    float: left;*/
    height: 55px;
    width: 70px;
/*    line-height: 45.5px;*/
    border: 1px solid #e7e7e7;
    cursor: pointer;
    vertical-align: middle;
    display: table-cell;
    background: #f0f3f6;
    text-align: center;
}

.image-list-container .image-list-holder:active {
    border: 4px solid #85ce36;
}

.image-list-container .image-list-desc {
    width: -moz-calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    width: 330px;
    float: right;
}

.image-list-container .image-list-desc a {
    word-wrap: break-word;
    font-size: 0.9em;
    cursor: pointer;
}

.image-list-container .image-list-desc p {
    font-size: 0.9em;
    font-weight: normal;
    margin-bottom: 0;
}


/* --------------------------------------------------------------------------
4. Admin - Comments Page
---------------------------------------------------------------------------*/
.items-list-page.comments-list-page .item-list .item-col.item-col-title {
    text-align: left;
    -ms-flex-positive: 3;
    flex-grow: 3;
    -ms-flex-negative: 3;
}

.items-list-page.comments-list-page .item-list .item-col.item-col-sales {
    text-align: left;
    -ms-flex-positive: 11;
    flex-grow: 11;
    -ms-flex-negative: 11;
}

.items-list-page.comments-list-page .item-list .item-col.item-col-stats {
    text-align: left;
    -ms-flex-positive: 6;
    flex-grow: 6;
    -ms-flex-negative: 6;
}

.items-list-page.comments-list-page .item-list .item-col.item-col-reply {
    text-align: center;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -ms-flex-negative: 2;
}

.comment-text {
    font-weight: normal;
    font-size: 0.85em;
}

.edit-comment-section {
    display: none;
    width: 100%;
}

.edit-comment-section textarea {
    margin-bottom: 5px;
}

.btn-edit-comment {
    cursor: pointer;
}

.remove-comment {
    cursor: pointer;
}

.item-date {
    font-size: 0.85em;
}

.approve, .unapprove {
    cursor: pointer;
}

.approve i {
    color: #1f6505;
}

.unapprove i {
    color: #aa0000;
}

.unapproved-item {
    background-color: #fef7f1;
    -webkit-transition: all linear  .1s; // Chrome
    -moz-transition: all linear  .1s; // Mozilla
    -o-transition: all linear  .1s; // Opera
    transition: all linear  0.1s;
}

.item-list.striped > li.unapproved-item:nth-child(2n + 1) {
    background-color: #fef7f1;
}

.approved-item {
    background-color: #fff;
    -webkit-transition: all linear  .1s; // Chrome
    -moz-transition: all linear  .1s; // Mozilla
    -o-transition: all linear  .1s; // Opera
    transition: all linear  0.1s;
}

.item-list.striped > li.approved-item:nth-child(2n + 1) {
    background-color: #fcfcfd;
}

.comment-count {
    position: relative;
}

.comment-count span {
    position: absolute;
    font-size: 0.7em;
    height: 15px;
    width: 15px;
    line-height: 15px;
    border-radius: 7.5px;
    background: #aa0000;
    color: #fff;
    right: -18px;
}

.items-list-page.medias-list-page,
.items-list-page.comments-list-page,
.items-list-page.users-list-page,
.items-list-page.posts-list-page {
    position: relative;
}


.items-list-page.users-list-page .action.bulk-action,
.items-list-page.posts-list-page .action.bulk-action {
    position: absolute;
    top: 105px;
    left: 200px;
}

.items-list-page.medias-list-page .action.bulk-action {
    position: absolute;
    top: 105px;
    left: 295px;
}

.items-list-page.comments-list-page .action.bulk-action {
    position: absolute;
    top: 102px;
    left: 175px;
}

.items-list-page.comments-list-page .action.reply-bulk-action {
    left: 245px;
}

.action.bulk-action .dropdown-menu a,
.action.bulk-action .dropdown-menu button {
    padding: 5px 15px;
}

.filter-action {
    margin-left: 152px;
}

.action.filter-action .dropdown-menu a {
    padding: 5px 15px;
}

.not-found {
    margin: 10px 17px;
}

.statistics {
    font-size: 0.9em;
    margin-top: 5px;
}

.statistics span {
    padding-right: 5px;
}

.items-list-page.comments-list-page .statistics {
    margin-top: 15px;
}

.sub-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.sub-title a {
    font-size: 0.9em;
}

.sub-title span {
    font-size: 0.8em;
    font-weight: normal;
}
